## Python Pandas Tutorial (Part 2): DataFrame and Series Basics - Selecting Rows and Columns
###### https://www.youtube.com/watch?v=zmdjNSmRXF4&list=PL-osiE80TeTsWmV9i9c58mdDCSskIFdDS&index=2

In [1]:
import pandas as pd

DataFrames are similar to dictionaries but they have a lot more functionality

In [6]:
dict = {'colors': ['blue', 'green', 'yellow'],
        'flowers': ['rose', 'tulip', 'daffodil']}
dict_df = pd.DataFrame(dict)

In [7]:
dict_df

   colors   flowers
0    blue      rose
1   green     tulip
2  yellow  daffodil

A series object is basically a list of data with more functionality, it can be described as a one-dimensional array

In [8]:
dict_df['colors']

0      blue
1     green
2    yellow
Name: colors, dtype: object

In [9]:
dict_df.colors

0      blue
1     green
2    yellow
Name: colors, dtype: object

In [10]:
dict_df[['colors', 'flowers']]

   colors   flowers
0    blue      rose
1   green     tulip
2  yellow  daffodil

In order to get specific rows, we can use **loc** (location) or **iloc** (integer-location)

In [11]:
dict_df.iloc[0]

colors     blue
flowers    rose
Name: 0, dtype: object

In [14]:
dict_df.iloc[[0, 1], 1]

0     rose
1    tulip
Name: flowers, dtype: object

In [16]:
dict_df.loc[[0, 1], 'flowers']

0     rose
1    tulip
Name: flowers, dtype: object

In [17]:
attendance_df = pd.read_csv('student_attendance.csv')

In [20]:
attendance_df

       School DBN      Date  Enrolled  Absent  Present  Released
0          01M015  20180905       172      19      153         0
1          01M015  20180906       171      17      154         0
2          01M015  20180907       172      14      158         0
3          01M015  20180912       173       7      166         0
4          01M015  20180913       173       9      164         0
...           ...       ...       ...     ...      ...       ...
277148     79X695  20190620       230      46      136        48
277149     79X695  20190621       226      53      128        45
277150     79X695  20190624       226      42      130        54
277151     79X695  20190625       226      56      127        43
277152     79X695  20190626       216      27       68       121

[277153 rows x 6 columns]

In [18]:
attendance_df.columns

Index(['School DBN', 'Date', 'Enrolled', 'Absent', 'Present', 'Released'], dtype='object')

In [19]:
attendance_df['Enrolled'].value_counts()

Enrolled
295     741
362     718
399     713
412     713
475     698
       ...
3836      1
3833      1
2594      1
3827      1
3492      1
Name: count, Length: 3102, dtype: int64

In [22]:
attendance_df.loc[0:5, 'Enrolled']

0    172
1    171
2    172
3    173
4    173
5    173
Name: Enrolled, dtype: int64