In [8]:
import pandas as pd
from datetime import datetime
attendance_df = pd.read_csv('student_attendance.csv')
attendance_df.columns = ['school id', 'date', 'enrolled', 'absent', 'present', 'released']
attendance_df.columns = attendance_df.columns.str.replace(' ', '_')
attendance_df.columns = attendance_df.columns.str.upper()
attendance_df

       SCHOOL_ID      DATE  ENROLLED  ABSENT  PRESENT  RELEASED
0         01M015  20180905       172      19      153         0
1         01M015  20180906       171      17      154         0
2         01M015  20180907       172      14      158         0
3         01M015  20180912       173       7      166         0
4         01M015  20180913       173       9      164         0
...          ...       ...       ...     ...      ...       ...
277148    79X695  20190620       230      46      136        48
277149    79X695  20190621       226      53      128        45
277150    79X695  20190624       226      42      130        54
277151    79X695  20190625       226      56      127        43
277152    79X695  20190626       216      27       68       121

[277153 rows x 6 columns]

pd.to_datetime() method helps to convert string Date time in to Python Date time object

In [12]:
attendance_df['DATE'] = pd.to_datetime(attendance_df['DATE'], format='%Y%m%d')
attendance_df['DATE']

0        2018-09-05
1        2018-09-06
2        2018-09-07
3        2018-09-12
4        2018-09-13
            ...
277148   2019-06-20
277149   2019-06-21
277150   2019-06-24
277151   2019-06-25
277152   2019-06-26
Name: DATE, Length: 277153, dtype: datetime64[ns]

In [13]:
attendance_df.loc[0, 'DATE'].day_name()

'Wednesday'

In [15]:
attendance_df['DATE'].agg(['min', 'max', 'mean'])

min    2018-09-04 00:00:00.000000000
max    2019-06-26 00:00:00.000000000
mean   2019-01-28 12:18:24.343088128
Name: DATE, dtype: datetime64[ns]

In [16]:
attendance_df['DATE'].max() - attendance_df['DATE'].min()

Timedelta('295 days 00:00:00')