## Python Pandas Tutorial (Part 1): Getting Started with Data Analysis - Installation and Loading Data
###### https://www.youtube.com/watch?v=ZyhVh-qRZPA&list=PL-osiE80TeTsWmV9i9c58mdDCSskIFdDS

### Importing libraries

In [2]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

### Reading data

Read data from csv file to pd.DataFrame object using .read_csv() function

In [3]:
attendance_df = pd.read_csv('student_attendance.csv')

In [4]:
attendance_df

       School DBN      Date  Enrolled  Absent  Present  Released
0          01M015  20180905       172      19      153         0
1          01M015  20180906       171      17      154         0
2          01M015  20180907       172      14      158         0
3          01M015  20180912       173       7      166         0
4          01M015  20180913       173       9      164         0
...           ...       ...       ...     ...      ...       ...
277148     79X695  20190620       230      46      136        48
277149     79X695  20190621       226      53      128        45
277150     79X695  20190624       226      42      130        54
277151     79X695  20190625       226      56      127        43
277152     79X695  20190626       216      27       68       121

[277153 rows x 6 columns]

The df.shape method gives a number of rows and columns in the tuple form

In [6]:
attendance_df.shape

(277153, 6)